@page "/"
@namespace Cinder.UI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blockchain Explorer - Search the Ellaism Blockchain</title>
    <base href="~/" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link href="css/site.css" rel="stylesheet" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<app>
    @* Remove the following line of code to disable prerendering *@
    @(await Html.RenderStaticComponentAsync<App>())
</app>

<script src="_framework/blazor.server.js"></script>
</body>
</html>