@page "/address/{hash}"
@inherits AddressModel


@if (IsLoading)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <h1 class="title is-4 is-spaced">Address <small class="has-text-grey">@Address.Hash</small></h1>
}