@page "/block/{hash}"
@inherits BlockModel


@if (IsLoading)
{
    <Loader />
}
else
{
    <h1 class="title is-4 is-spaced">Block <small class="has-text-grey">#@Block.BlockNumber</small></h1>
    <BlockDetail Block="@Block" />
    <TransactionSummary Transactions="@Transactions" />
}