@page "/block-height/{number}"
@inherits BlockHeightModel


@if (IsLoading)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <h1 class="title is-4 is-spaced">Block Height <small class="has-text-grey">#@Block.BlockNumber</small></h1>
    <BlockDetail Block="@Block"/>
}