@inherits AddressDetailModel

@if (Address != null)
{
    <div class="table-container">
        <table class="table is-fullwidth">
            <tbody>
            <tr>
                <th width="15%">Balance</th>
                <td>@Address.Balance.ToString("N10") ELLA</td>
            </tr>
            <tr>
                <th width="15%">Blocks Mined</th>
                <td>@Address.BlocksMined?.ToString("N0")</td>
            </tr>
            <tr>
                <th width="15%">Transaction Count</th>
                <td>@Address.TransactionCount?.ToString("N0")</td>
            </tr>
            </tbody>
        </table>
    </div>
}