@inherits LoaderModel

<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Loading...
            </h1>
            <progress class="progress is-small is-primary" max="100">50%</progress>
        </div>
    </div>
</section>