<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">Ellaism</a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMainNav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarMainNav" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">Home</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Community</a>
                    <div class="navbar-dropdown">
                        <a href="https://ellaism.org/" class="navbar-item">Ellaism Website</a>
                        <a href="https://github.com/ellaism" rel="nofollow" class="navbar-item">GitHub</a>
                        <hr class="dropdown-divider">
                        <a href="https://discordapp.com/invite/gz9tURY" rel="nofollow" class="navbar-item">Discord</a>
                        <a href="https://t.me/ellaismcoin" rel="nofollow" class="navbar-item">Telegram</a>
                        <a href="https://twitter.com/EllaismCore" rel="nofollow" class="navbar-item">Twitter</a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" placeholder="Lookup blocks, transactions, hash...">
                        </div>
                        <div class="control">
                            <a class="button is-light">Search</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>