@using Cinder.UI.Infrastructure
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<header>
    <MainNav/>
</header>

<section class="section">
    <div class="container">
        @Body
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>&copy; 2019 Ellaism Community Developers.<br/><small class="has-text-grey">@($"Cinder v{VersionInfo.Version}")</small></p>
    </div>
</footer>