@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<header>
    <MainNav/>
</header>

<section class="section">
    <div class="container">
        @Body
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>&copy; 2019 Cinder.</p>
    </div>
</footer>