.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.is-medium-hash {
    display: inline-block;
    max-width: 220px;
}

.is-large-hash {
    display: inline-block;
    max-width: 320px;
}

.is-extra-large-hash {
    display: inline-block;
    max-width: 420px;
}