@page "/"
@using EllaX.Core.Dtos
@using EllaX.Core.Extensions
@using Humanizer
@inject HttpClient Http

<h1>Hello, world!</h1>

@if (_healthDtos == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Last Seen</th>
        </tr>
        </thead>
        <tbody>
        @foreach (HealthDto healthDto in _healthDtos)
        {
            <tr>
                <td>@healthDto.Latitude</td>
                <td>@healthDto.Longitude</td>
                <td>@DateTimeOffset.UtcNow.AddMinutes(-healthDto.Age).Humanize()</td>
            </tr>
        }
        </tbody>
    </table>
}

<div id="mapid"></div>

@functions {
    HealthDto[] _healthDtos;

    protected override async Task OnInitAsync()
    {
        HealthDto[] healthDtos = await Http.GetJsonAsync<HealthDto[]>("http://localhost:5000/api/network/health");
        Dictionary<string, HealthDto> uniques = new Dictionary<string, HealthDto>();
        foreach (HealthDto dto in healthDtos)
        {
            string key = $"{dto.Latitude}{dto.Longitude}".Md5();

            if (uniques.ContainsKey(key))
            {
                continue;
            }

            uniques[key] = dto;
        }

        _healthDtos = uniques.Select(x => x.Value).ToArray();
    }

}